@using System.Configuration
@{
	ViewBag.Title = "NuGet Private Repository";
}

<div>
    <h2>You are running NuGet.Server v@(typeof(NuGet.Server.DataServices.Package).Assembly.GetName().Version)</h2>
    <p>
        Click <a href="@Url.Content("~/nuget/Packages")">here</a> to view your packages.
    </p>
    <fieldset style="width:800px">
        <legend><strong>Repository URLs</strong></legend>
        In the package manager settings, add the following URL to the list of 
        Package Sources:
        <blockquote>
            <strong>@Helpers.GetRepositoryUrl(Request.Url, Request.ApplicationPath)</strong>
        </blockquote>
        @if (String.IsNullOrEmpty(ConfigurationManager.AppSettings["apiKey"])) {
			<text>To enable pushing packages to this feed using the nuget command line tool (nuget.exe). Set the api key appSetting in web.config.</text>
        }
		else {
			<text>Use the command below to push packages to this feed using the nuget command line tool (nuget.exe).</text>
        }
        <blockquote>
            <strong>nuget push {package file} -s @Helpers.GetPushUrl(Request.Url, Request.ApplicationPath) {apikey}</strong>
        </blockquote>            
    </fieldset>
</div>
