@model IEnumerable<System.Security.Principal.IPrincipal>

@section Header {
	<h1>Application Users</h1>
}

<div class="row">
	<div class="span10">
		<table class="condensed-table zebra-striped">	
			<tr>
				<th>Username</th>
				<th>Roles</th>
				<th>Actions</th>
			</tr>
			@foreach (var user in Model.OrderBy(x => x.Identity.Name.ToUpper())) {
				<tr>
					<td>@user.Identity.Name</td>
					<td>@string.Join(", ", AvailableRoles.AllRoles.Where(user.IsInRole))</td>
					<td>
						<a href="#" data-controls-modal="rolesModal" data-backdrop="static" class="small btn userActionButton">Roles...</a>
						<a href="#" class="small btn userActionButton">Password...</a>
						<a href="#" class="small btn userActionButton">Delete</a>
					</td>
				</tr>
			}
		</table>
	</div>
</div>

<div id="rolesModal" class="modal hide">
	<form id="rolesForm">
		<div class="modal-header">
			<a href="#" class="close">&#xd7;</a>
			<h3>Roles for user XXX</h3>
		</div>
		<div class="modal-body">
			<div class="clearfix">
				<label>User roles:</label>
				<div class="input">
					<ul class="inputs-list">
						<li>
							<label>
								<input type="checkbox" name="x" id="x" /> Reader
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox" name="x" id="x" /> Writer
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox" name="x" id="x" /> Administrator
							</label>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" id="closeRolesModalButton">Close</a>
			<a href="#" class="btn primary" id="applyRoles">Save</a>
		</div>
	</form>
</div>
<script type="text/javascript">
//  .bind('show', function () { alert('Show'); });
$('#closeRolesModalButton').click(function() { $('#rolesModal').modal('hide'); return false; });
$('#applyRoles').click(function() { alert('Apply!'); $('#rolesModal').modal('hide'); return false; });
</script>