@model IEnumerable<System.Security.Principal.IPrincipal>

<table>	
	@foreach (var user in Model) {
		<tr>
			<td>@user.Identity.Name</td>
			<td>@string.Join(", ", NuGetServer.Roles.AllRoles.Where(user.IsInRole))</td>
		</tr>
	}
</table>
